.profile__name {
    margin: 18px 0 0;
    max-width: 295px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
}

@media screen and (max-width: 767px) {
    .profile__name  {
        margin: 14px 0 0;
        text-align: center;
        font-size: 27px;
        line-height: 2.07;
    }
}